<?
include
?>
<form method="POST" enctype="multipart/form-data">
    <div class="formulario">
        <label for="name">nombre</label>
        <input type="text" name="name"  id="name" placeholder="nombre">
    
    
        <label for="lastname">apellido</label>
        <input type="text" name="lastname"  id="lastname" placeholder="apellido">

        <label for="cedula">cedula</label>
        <input type="text" name="cedula"  id="cedula" placeholder="cedula">
    </div>
    <div class="botones">
        <button type="button" name="gregar">agregar</button>
        <button type="button" name="editar">editar</button>
        <button type="button" name="eliminar">eliminar</button>
    </div>
</form>